body {
  background: #ffffff;
}

.App {
  color: #24415e;
  margin: 100px 80px;
  background: #ffffff;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 30px;
  font-style: normal;
  text-align: center;
}

.container {
  margin: 0px auto;
}
